{% extends 'base.html' %}

{% load date_th %}

{% block title %}<title>Ticket | {{ticket.activity}}</title>{% endblock %}


{% block content %}
<div class="card">
    <div class=" text-center">
        <img src="{{ticket.qrcode.url}}" class="card-img-top" alt="{{ticket.ticket_uid}}" style="height: 390px; width: 390px;">
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ticket.activity}}</h5>
            <p class="text-muted">วันที่ : {{ ticket.activity.date_start|date_th }} เวลา : {{ ticket.activity.date_start|time_th }} น.</p>
        <p class="card-text"> สถานะการลงทะเบียน :
            {% if ticket.status == 'รอตรวจสอบ' %}
                    <span class="text-warning">รอตรวจสอบ</span>
            {% elif ticket.status == 'ยืนยันแล้ว' %}
                    <span class="text-success">ยืนยันแล้ว</span>
            {% elif ticket.status == 'ยกเลิก' %}
                    <span class="text-danger">ยกเลิก</span>
            {% elif ticket.status == 'ยังไม่ชำระเงิน' %}
                    <span class="text-danger">ยังไม่ชำระเงิน</span>
            {% endif %}
          </p>
          <p class="card-text">ชื่อ : {{ticket.first_name}}</p>
          <p class="card-text">นามสกุล : {{ticket.last_name}}</p>
          <p class="card-text">ห้อง : {{ticket.room}}</p>
          <p class="card-text">ชั้นปี : {{ticket.degree}}</p>
          <p class="card-text">แผนก : {{ticket.department}}</p>
          <a href="{{ticket.get_absolute_update_url}}" class="btn btn-warning mt-3"><i class="fa-regular fa-pen-to-square"></i> แก้ไข</a>
    </div>
</div>
{% endblock %}