{% extends 'base.html' %}
{% load static %}
{% load date_th %}
{% block content %}
{% if progress_reports %}
    {% for att_name, report in progress_reports.items %}
        <h2>รายงานความก้าวหน้า{{ att_name }}</h2>
        <table>
            <tr>
                <th>รหัสประจำตัว</th>
                <th>ชื่อ-สกุล</th>
                <th>ห้อง</th>
                <th>แผนก</th>
                <th>เข้า</th>
                <th>ขาด</th>
                <th>เปอร์เซ็นต์</th>
                <th>สถานะ</th>
            </tr>
            {% for item in report %}
            <tr>
                <td>{{ item.student_number }}</td>
                <td>{{ item.name }}</td>
                <td class="text-center">{{ item.room }}</td>
                <td>{{ item.department }}</td>
                <td class="text-center">{{ item.present }}</td>
                <td class="text-center">{{ item.absent }}</td>
                <td class="text-center">{{ item.percentage }}</td>
                <td class="text-center">{{ item.status }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endfor %}
{% else %}
    <p>ไม่มีข้อมูลที่แสดงในรายงาน</p>
{% endif %}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        padding: 5px;
        border: 1px solid #ddd;
    }

    th {
        text-align: center;
        background-color: #f0f0f0;
    }

    h1 {
        text-align: center;
    }
</style>
{% endblock %}