{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h1>รายงานการเช็คชื่อของ {{ user_profile.first_name }} {{ user_profile.last_name }}</h1>
    <div class="card-body bg-body-tertiary p-4 rounded">
        <div class="border p-3 bg-body-secondary mt-3 mb-3 rounded">
                <p class="text-muted mb-1">รหัสนักเรียน-นักศึกษา : {{user_profile.student_number}}</p>
                <p class="text-muted mb-1">ระดับชั้น : {{user_profile.degree}}</p>
                <p class="text-muted mb-1">ห้อง : {{user_profile.room}}</p>
                <p class="text-muted mb-1">แผนก : {{user_profile.department}}</p>
        </div>


    <table class="p-4 rounded">
        <thead>
            <tr>
                <th>กิจกรรม</th>
                <th>เข้า</th>
                <th>ขาด</th>
                <th>เปอร์เซ็นต์</th>
                <th>สถานะ</th>
            </tr>
        </thead>
        <tbody>
            {% for activity in attendance_summary %}
            <tr>
                <td>{{ activity.activity }}</td>
                <td>{{ activity.present }}</td>
                <td>{{ activity.absent }}</td>
                <td>{{ activity.attendance_percentage|floatformat:1 }}%</td>
                <td>{{ activity.status }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">ยังไม่มีข้อมูลการเช็คชื่อ</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        padding: 5px;
        border: 1px solid #ddd;
    }

    th {
        text-align: center;
        background-color: #f0f0f0;
    }

    h1 {
        text-align: center;
    }
</style>
{% endblock %}
