<ul class="shadow-sm bg-body-tertiary rounded nav col-12 col-lg-auto justify-content-center my-md-0 fixed-bottom">
    <li>
        <a href="{% url 'activity-list' %}" class="nav-link text-dark text-center">
          <i class="fa-regular fa-calendar-check bi d-block mx-auto mb-1"></i>
          ประชาสัมพันธ์กิจกรรมพิเศษ
        </a>
    </li>
    <li>
      <a href="{% url 'students' %}" class="nav-link text-dark text-center">
        <i class="fa-regular fa-calendar-check bi d-block mx-auto mb-1"></i>
        กิจกรรมเข้าแถว
      </a>
    </li>
    <li>
      <a href="{% url 'students' %}" class="nav-link text-dark text-center">
        <i class="fa-regular fa-calendar-check bi d-block mx-auto mb-1"></i>
        กิจกรรมโฮมรูม
      </a>
    </li>
    <li>
      <a href="{% url 'students' %}" class="nav-link text-dark text-center">
        <i class="fa-regular fa-calendar-check bi d-block mx-auto mb-1"></i>
        กิจกรรมชมรม
      </a>
    </li>
    <li>
      <a href="{% url 'students' %}" class="nav-link text-dark text-center">
        <i class="fa-regular fa-calendar-check bi d-block mx-auto mb-1"></i>
        กิจกรรมลูกเสือ
      </a>
    </li>
    <li>
      <a href="{% url 'students' %}" class="nav-link text-dark text-center">
        <i class="fa-regular fa-calendar-check bi d-block mx-auto mb-1"></i>
        ตรวจสอบผลกิจกรรม
      </a>
    </li>
  </ul>