<ul class="shadow-sm bg-body-tertiary rounded nav col-12 col-lg-auto justify-content-center my-md-0 fixed-bottom">
    <li>
        <a href="{% url 'activity-list' %}" class="nav-link text-dark text-center">
          <i class="fa-regular fa-solid fa-bullhorn bi d-block mx-auto mb-1"></i>
          ประชาสัมพันธ์กิจกรรมพิเศษ
        </a>
    </li>
    <li>
      <a href="{% url 'attendance_checkin' %}" class="nav-link text-dark text-center">
        <i class="fa-regular fa-solid fa-calendar-check bi d-block mx-auto mb-1"></i>
        Attendance
      </a>
    </li>
    <li>
      <a href="{% url 'attendance_report' %}" class="nav-link text-dark text-center">
        <i class="fa-solid fa-file-pdf bi d-block mx-auto mb-1"></i>
        Report
      </a>
    </li>
    <li>
      <a href="{% url 'attendance_search' %}" class="nav-link text-dark text-center">
        <i class="fa-regular fa-solid fa-magnifying-glass bi d-block mx-auto mb-1"></i>
        ค้นหา
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-dark text-center">
        <i class="fa-regular fa-solid  fa-calendar-check bi d-block mx-auto mb-1"></i>
        เช็คชื่อ
      </a>
    </li>
    <li>
      <a href="#" class="nav-link text-dark text-center">
        <i class="fa-regular fa-solid  fa-calendar-check bi d-block mx-auto mb-1"></i>
        ตรวจสอบผลกิจกรรม
      </a>
    </li>
  </ul>